body{
  overflow:hidden;
}

nav{
  border-radius:10px;
  opacity: 0.7;
}

#slideshow {
  height: 80vh !important;
  border-radius:25px;
}

#slideshow-small{
  border-radius:10px;
  z-index:-1;
}
.main-display{
  padding:5px;
}
.broadcast{

  height: 8vh !important;
  border-radius:20px;
  border-style:hiddesn;
  border-color:rgb(49, 54, 51);
  background-color:rgb(62, 161, 252);
}
.broadcast p {
  font-size:50px;
  font-style:italic;
  color:rgb(255, 255, 255);
  margin:0px;
  padding:2px;
}

#slideshow-small.carousel.carousel-slider{
  top:-50px;
}
.carousel-item {
  /*height: 100%;*/
  position:absolute;
}

.swap-button{

  left:-50px;
  top:50px;
}
.text-bobble {
  background: #ECF7E8;
}
.quote-bobble {
  background: #DDE7F4;
   font-family: "Georgia", Times, serif;
   text
}
.text-bobble, .quote-bobble {
  padding: 1rem;
}

  .quote-bobble p, .text-bobble p {
    font-size: 4rem !important; /* Dang ol Materialize is quite specific, we will SASS soon! */
    line-height: 4rem;
    font-weight: 400;
    color: #333;
  }
    .quote-bobble p.author {
      color: black;
      text-align: right;
      margin-top: 1rem;
      font-style: italic;
  }

  div.image-holder {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #333;
	}

.quote-holder{
  position:relative;
  max-width:800px;
  font-size:.75em;
 }

.quote-holder p {
  color: black;
  text-align: center;
}

.text-holder{
  position:relative;
  padding:10px 30px;
   background:#0B93F6;
  border-radius:25px;
    margin-bottom: 20px;
  max-width:800px;
  font-size:.75em;
  color: black;
  float: left;
}

.text-holder p {
    color:#fff;
}
.text-holder:before {
    content:"";
    position:absolute;
    z-index:2;
    bottom:-2px;
    left:-7px;
    height:20px;
    border-right:20px solid #0B93F6;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform:translate(0, -2px);
}

.text-holder:after {
    content:"";
    position:absolute;
    z-index:3;
    bottom:-2px;
    left:4px;
    width:26px;
    height:20px;
    background:#f7f6f0;
    border-bottom-right-radius: 10px;
    -webkit-transform:translate(-30px, -2px);
}
