/*
- This file is used for the functional UI
- Currently activated CSS for board.html
*/

body {
  overflow:hidden;
  background-color: rgb(229, 232, 225)
}

nav {
  /*box margin*/
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  opacity: 0.7;
}

.main-display {
  padding: 5px;
}

/*button settings*/
.flip-button {
  float:right;
  position:absolute;
  top: 10px;
  right: 10px;
}
.flip-button > a {
  opacity: 0.5;
}
.flip-button > a:hover{
  opacity: 1;
}
.swap-button {
  position:absolute;
  top:-150px;
  right:-60px;
}
.swap-button-mobile{
  position:absolute;
  top:10px;
  right:300px;
}
.slideshow-buttons {
  float:right;
  position:relative;
  top : -70px;
  right: 20px;
}
.slideshow-buttons > a {
  opacity:0.5;
}
.slideshow-buttons > a:hover {
  opacity:1;
}
.lables{
  float: right;
}
span.badge.new {
  height:35px;
  line-height:35px;
  font-size:1.3rem;
  position:absolute;
  top: -40px;
  right:5px;
}

#slideshow {
  /*materialize carousel has unwanted fixed default height*/
  height: 80vh !important;
}

#slideshow-small {
  /*puts slideshow under all buttons*/
  z-index: -1;
}


.broadcast {
  background-color: rgb(62, 161, 252);

  /*border settings*/
  border-radius: 20px;
  border-style: hidden;
  border-color: rgb(49, 54, 51);

  position:relative;
  top:-50px;
}

.broadcast p {
  font-size: 5rem;
  line-height: 5rem;
  font-style: italic;
  color: rgb(255, 255, 255);
  margin: 0px;
  float: left;
}

/*marquee css implementation*/
.marquee {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee > p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.carousel-item {
  /*height: 100%;*/
  position: absolute !important;
}


.events {
  margin-top: 30px;
  margin-bottom: 10px;
  overflow-y: hidden;
  height: 50vh !important;
}
.events .collection{
  margin:0px;
  border:0px;
}
.eventItems > .collection{
  height: 40vh;
  overflow-y:auto;
}
.collection-item > span{
  font-size:1.7rem;
  line-height:1.7rem;
}
.tabs{
  margin:0px;
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: rgb(40, 113, 237)
}
.tabs .tab a{
    background-color: transparent;
    color: rgb(82, 172, 255);
}

.tabs .indicator {
  background-color: rgb(82, 172, 255);
}


.text-bobble {
  background: #ECF7E8;
}

.quote-bobble {
  background: #DDE7F4;
  font-family: "Georgia", Times, serif;
  text
}

.text-bobble, .quote-bobble {
  padding: 1rem;
}

.quote-bobble p, .text-bobble p {
  font-size: 4rem !important;
  /* Dang ol Materialize is quite specific, we will SASS soon! */
  line-height: 4rem;
  font-weight: 400;
  color: #333;
}

.quote-bobble p.author {
  color: black;
  text-align: right;
  margin-top: 1rem;
  font-style: italic;
}

div.image-holder {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #333;
}

.quote-holder {
  position: relative;
  max-width: 800px;
  font-size: .75em;
}

.quote-holder p {
  color: black;
  text-align: center;
}

.text-holder {
  position: relative;
  padding: 10px 30px;
  background: #0B93F6;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: .75em;
  color: black;
  float: left;
}

.text-holder p {
  color: #fff;
}

.text-holder:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-right: 20px solid #0B93F6;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}

.text-holder:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: #f7f6f0;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}
