<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forward Board</title>

  <!-- load CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/board.css">

  <!-- load font -->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css" />

  <!-- load MUI -->
  <link href="//cdn.muicss.com/mui-0.9.16/css/mui.min.css" rel="stylesheet" type="text/css" />
  <script src="//cdn.muicss.com/mui-0.9.16/js/mui.min.js"></script>

  <!-- load vendor js -->
  <script src='/static/vendor/socket.io.js' charset="UTF-8" type="text/javascript"></script>
  <script src='/static/vendor/jquery.min.js' charset="UTF-8" type="text/javascript"></script>
  <script src="/static/vendor/masonry.pkgd.min.js" charset="UTF-8" type="text/javascript"></script>

  <!-- load js -->
  <script src='/static/js/board.js' charset="UTF-8" type="text/javascript"></script>



</head>


<body>

  <div id="navbar" class="mui-appbar">
    <table width="100%">
      <tr style="vertical-align:middle;">
        <td class="mui--appbar-heighr mui--text-display3" align="left">
          FORWARDboard
        </td>
        <td class="mui--appbar-height" align="right">
          <a href="/controller" target="_blank">
            <button class="mui-btn mui-btn--fab">New</button>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div id="content" class="mui-container">
    <div class="mui-row">
      <div class="mui-col-sm-12">
        <div class="mui--text-dark-secondary mui--text-display2">What's UP</div>

        <div class="mui-divider"></div>
        <br>
      </div>
    </div>
    <!-- this is the container of bobs -->
    <bobbles id="bobbles" class="grid">
      <!-- .grid-sizer, gutter-sizer empty element, only used for element sizing -->
      <div class="grid-sizer"></div>
      <div class="gutter-sizer"></div>
      <!-- bobs are created here -->

    </div>
    <br>

  </div>

</body>

</html>
