<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forward Board</title>

  <!-- load font -->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css" />

  <!-- load MUI -->
  <link href="//cdn.muicss.com/mui-0.9.16/css/mui.min.css" rel="stylesheet" type="text/css" />
  <script src="//cdn.muicss.com/mui-0.9.16/js/mui.min.js"></script>

  <!-- load vendor js -->
  <script src='/static/vendor/socket.io.js' charset="UTF-8" type="text/javascript"></script>
  <script src='/static/vendor/jquery.min.js' charset="UTF-8" type="text/javascript"></script>
  <script src="/static/vendor/masonry.pkgd.min.js" charset="UTF-8" type="text/javascript"></script>

  <!-- load Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!-- load Materialize js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <!-- load Materialize icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- load CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/board.css">
  <!-- load board js -->
  <script src='/static/js/board.js' charset="UTF-8" type="text/javascript"></script>

</head>


<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">FORWARDboard</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="/controller" target="_blank">
            <button class="btn-large btn-floating red accent-4 pulse">
              <i class="material-icons">add</i>
            </button>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="content" class="container big">
    <div class="row">
      <div class="col s12">
        <div class="mui--text-dark-secondary mui--text-display2">What's UP</div>
        <div class="mui-divider"></div><br>
      </div>
    </div>

    <!-- this is the container of bobs -->
    <bobbles id="bobbles" class="grid">
      <!-- bobs are created here -->
  </div>
  <br>

  </div>

</body>

</html>
