<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="/static/vendor/socket.io.js" charset="UTF-8" type="text/javascript"></script>
    <script src="/static/vendor/jquery.min.js" charset="UTF-8" type="text/javascript"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="/static/controller.js" charset="UTF-8" type="text/javascript"></script>
    <style>
      body {
        padding: 10;
        margin: 10;
      } 

      .form-field {
        margin-bottom: 25px;
      }

      #tag-holder label {
        display: inline-block;
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body>
    <p>Buttons and things.</p>
    <form id="add-bob-form" novalidate>

      <div class="form-field">
        <label for="flavor">Flavor</label><br>
        <select id="flavor" name="flavor">
          <option>--- Select One ---</option>
          <!-- Filled in with options pulled down from DB -->
        </select>
      </div>

      <div class="form-field">
        <label for="data">Data</label><br>
        <input id="data" name="data" type="text"></input>
      </div>

      <div class="form-field">
        <fieldset id="tag-holder">
          <legend>Tags</legend>
          <!-- Filled in with options pulled down from DB -->
        </fieldset>
      </div>
      
      <input type="submit"></input>
    </form>
  </body>
</html>
