<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="/static/vendor/socket.io.js" charset="UTF-8" type="text/javascript"></script>
    <script src="/static/vendor/jquery.min.js" charset="UTF-8" type="text/javascript"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script src="/static/controller.js" charset="UTF-8" type="text/javascript"></script>
    <style>
      body {
        padding: 10;
        margin: 10;
      } 

      .form-field {
        margin-bottom: 25px;
      }
      .data-field {
        display: block;
        margin-bottom: 15px;
      }

      #tag-holder label {
        display: inline-block;
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body>
    <p>Buttons and things.</p>
    <form id="add-bob-form" novalidate>

      <div class="form-field">
        <label for="flavor">Flavor</label><br>
        <select id="flavor" name="flavor">
          <option>--- Select One ---</option>
          <!-- Filled in with options pulled down from DB -->
        </select>
      </div>

      <div id="data" class="form-field">
        
      </div>

      <div class="form-field">
        <fieldset id="tag-holder">
          <legend>Tags</legend>
          <!-- Filled in with options pulled down from DB -->
        </fieldset>
      </div>

      <div class="form-field">
        <label for="start-date">Start showing on</label><br>
        <input type="text" id="start-date" name="start-date">
      </div>

      <div class="form-field">
        <label for="end-date">Stop showing on</label><br>
        <input type="text" id="end-date" name="end-date">
      </div>
      
      <input type="submit"></input>
    </form>
  </body>
</html>
