<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Fb - Add Bob</title>

  <!-- load font -->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css" />

  <!-- load MUI -->
  <link href="//cdn.muicss.com/mui-0.9.16/css/mui.min.css" rel="stylesheet" type="text/css" />
  <script src="//cdn.muicss.com/mui-0.9.16/js/mui.min.js"></script>

  <!-- load CSS, overrides MUI -->
  <link rel="stylesheet" type="text/css" href="/static/css/controller.css">

  <!-- load js -->
  <script src="/static/vendor/socket.io.js" charset="UTF-8" type="text/javascript"></script>
  <script src="/static/vendor/jquery.min.js" charset="UTF-8" type="text/javascript"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="/static/js/controller.js" charset="UTF-8" type="text/javascript"></script>
</head>

<body>

  <div class="mui-container">
    <div id="navbar" class="mui-appbar">
      <table width="100%">
        <tr style="vertical-align:middle;">
          <td class="mui--appbar-height" align="middle">
            <legend class="mui--text-display2">Create a New Bob!</legend>
          </td>
        </tr>
      </table>
    </div>
    <div class="mui-divider"></div><br />

    <form id="add-bob-form" novalidate>

      <label for="flavor" class="mui--text-title">Flavor</label><br>
      <div class="form-field mui-form">
        <div class="mui-select">
          <select id="flavor" name="flavor">
          <option>--- Select One ---</option>
          <!-- Filled in with options pulled down from DB -->
      </select>
        </div>
      </div>



      <label for="data" class="mui--text-title">Data</label><br>
      <div class="form-field mui-textfield ">
        <input id="data" name="data" type="text"></input>
      </div>

      <div class="form-field">
        <fieldset id="tag-holder" class="mui-checkbox mui--text-subhead">
          <legend>Tags</legend>
          <!-- Filled in with options pulled down from DB -->
        </fieldset>
      </div>

      <div class="form-field">
        <label for="start-date">Start showing on</label><br>
        <input type="text" id="start-date" name="start-date">
      </div>

      <div class="form-field">
        <label for="end-date">Stop showing on</label><br>
        <input type="text" id="end-date" name="end-date">
      </div>


      <button type="submit" class="mui-btn mui-btn--accent mui-btn--large">Add Bob</button>

    </form>
  </div>
</body>

</html>
