#navbar {
  background-color: #E57373;
}

body {
  font-family: "Roboto";
}


/*text sizes*/

.text--small {
  font-size: 0.85rem;
}
.text--medium {
  font-size: 1.0rem;
}
.text--big {
  font-size: 1.2rem;
}

/* ---- grid ---- */

.grid-item {
  height: 120px;
  float: left;
  background: hsv(212, 7%, 89%);
  border: 1px solid #333;
  padding: 1px;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 3px;

  /*gutter*/
  --gutter: 5px;
  margin-left: var(--gutter);
  margin-bottom: var(--gutter);
}

.grid-item--childwidth {
  /*dynamically changes depending on the childwidth*/
  float: left;
  height: auto;
  width: auto;
  display: block;
}
.grid-item .card {
  margin: 0;
}
.card .card-action a.--nomargin:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
  margin-right: 0px;
}
.card .card-action--thin{
  padding: 4px 4px;
}
.card-action i.tiny {
  font-size: 1.4rem;
}
.card .video-container {
  width: 20rem;
}

/*max-width for each flavor*/
.grid-item--text {
  max-width: 20%;
}

.grid-item--poem {
  max-width: 30%;
}

.grid-item--image {
  max-width: 30%;
}

.grid-item--meme {
  max-width: 35%;
}

.grid-item--video {
  max-width: 55%;
}
