body {
  padding: 10;
  margin: 10;
}

.form-field {
  margin-bottom: 25px;
}

#tag-holder label {
  display: inline-block;
  margin-bottom: 10px;
}
#navbar {
  background-color: #E57373;
  border-radius:5px;
}
.mui-textfield > input:focus {
  border-bottom:1px solid #E57373
}
.mui-select:focus>select{
  border-bottom:1px solid #E57373
}
.mui-btn {
  background-color: #E57373;
  width:50%;
  margin-left:25%;
  text-align:center;
  font-size:200%;
  border-radius: 10px;
}
body,
.mui-body {
  background-color: #eee;
  font-size: 15px;
}

.mui-container,
.mui-container-fixed {
  background-color: rgb(249, 245, 245);
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
}
