<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <title>FUTUREboard - Admin</title>

    <!-- load font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css" />

    <!-- load vendor js -->
    <script src='/static/vendor/socket.io.js' charset="UTF-8" type="text/javascript"></script>
    <script src='/static/vendor/jquery.min.js' charset="UTF-8" type="text/javascript"></script>

    <!-- load CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css">
    <!-- load board js -->
    <script src='/static/js/admin.js' charset="UTF-8" type="text/javascript"></script>
  </head>

  <body>
    <h1>The Admin Page</h1>
    <div>
      <table id='bobTable' class='bobTable'></table>
    </div>
    <div>
      <table id='flaggedBobTable' class='bobTable'></table>
    </div>
  </body>
</html>
