<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <title>Forward Board</title>

  <!-- load font -->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css" />

  <!-- load vendor js -->
  <script src='/static/vendor/socket.io.js' charset="UTF-8" type="text/javascript"></script>
  <script src='/static/vendor/jquery.min.js' charset="UTF-8" type="text/javascript"></script>

  <!-- load Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!-- load Materialize js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <!-- load Materialize icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- load AnimatedModal CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">

  <!-- load CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/board.css">
  <link rel="stylesheet" type="text/css" href="/static/css/slideshow.css">
  <!-- load board js -->
  <script src='/static/js/board.js' charset="UTF-8" type="text/javascript"></script>

</head>

<body>
  <div id="slideshow" class="carousel carousel-slider"></div>
</body>

</html>
