<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <title>FutureBoard</title>

  <!-- load font -->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css" />

  <!-- load vendor js -->
  <script src='/static/vendor/socket.io.js' charset="UTF-8" type="text/javascript"></script>
  <script src='/static/vendor/jquery.min.js' charset="UTF-8" type="text/javascript"></script>
  <script src='/static/vendor/jquery.flip.min.js' charset="UTF-8" type="text/javascript"></script>
  <!-- load Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!-- load Materialize js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <!-- load Materialize icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- load CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="/static/css/board.css"> -->
  <link rel="stylesheet" type="text/css" href="/static/css/slideshow.css">
  <!-- load board js -->
  <script src='/static/js/board.js' charset="UTF-8" type="text/javascript"></script>

</head>

<body>
  <div class="row">

    <div class="col s12 m7 l9 xl9 left-aside">

      <nav class="col s12 m12 l6 xl4 black wave">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo left"><i class="material-icons">fast_forward</i>FUTUREboard</a>

          <div class="horizontal hide-on-med-and-up right-align">
            <a class="btn-floating btn-large blue pulse">
              <i class="large material-icons">mode_edit</i>
            </a>

          </div>
        </div>
      </nav>

      <div class="main-display">

        <div class="flip-button" onclick="toggleActiveItem()">
          <a class="btn-floating waves-effect waves-light black hoverable"><i class="material-icons">credit_card</i></a>
        </div>
        <div id="slideshow" class="carousel carousel-slider moments"></div>

        <div class ="slideshow-buttons right-align">
          <div class ="lables">
            <span class="new badge orange" data-badge-caption="+4"></span>
          </div>
          <a class="btn-floating waves-effect waves-light btn-large black hoverable"><i class="material-icons">new_releases</i></a>
          <a class="btn-floating waves-effect waves-light btn-large black hoverable"><i class="material-icons">plus_one</i></a>

        </div>

      </div>
        <div class="broadcast col s12">
          <div class="marquee">
            <p>
              HAPPENING NOW : DEBUG DEBUG 12:00 FIKA 15:00 ESPRESSO 16:00
            </p>
          </div>
        </div>

    </div>

    <div class="col s0 m5 l3 xl3 right-aside hide-on-small-only">
      <div class="events">
        <ul class="collection">
          <li class="collection-item">
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo">UPCOMING EVENTS</a>
              <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons right">search</i>  </a></li>

              </ul>
            </div>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">ABE Integration</span>
            <p> July 10th, Pretty Soon<br> (labels)
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
        </ul>
      </div>

      <div class="side-display">

        <!-- swapbutton -->
        <a onclick="swapCarousels()" class="btn-floating btn-large waves-effect pulse waves-light blue swap-button"><i class="material-icons">swap_horiz</i></a>

        <!-- small slideshow -->
        <div id="slideshow-small" class="hoverable carousel carousel-slider memes">
        </div>

      </div>
    </div>

    <div class="fixed-action-btn horizontal slideshow-button hide-on-small-only">
      <a class="btn-floating btn-large re blue">
        <i class="large material-icons">mode_edit</i>
      </a>
      <ul>
        <li><a href="/new" class="btn-floating red"><i class="material-icons">publish</i></a></li>
        <li><a href="/admin" class="btn-floating orange"><i class="material-icons">info</i></a></li>
      </ul>
    </div>

  </div>
</body>

</html>
