<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <title>FutureBoard</title>

  <!-- load vendor js -->
  <script src='/static/vendor/socket.io.js' charset="UTF-8" type="text/javascript"></script>
  <script src='/static/vendor/jquery.min.js' charset="UTF-8" type="text/javascript"></script>

  <!-- load Materialize CSS -->
  <link rel="stylesheet" type="text/css" href="/static/vendor/materialize.min.css">
  <!-- load Materialize js -->
  <script src='/static/vendor/materialize.min.js' charset="UTF-8" type="text/javascript"></script>
  <!-- load Materialize icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/stream-basic.css">

  <!-- load board components-->
  <script src='/static/js/board_carousel.js' charset="UTF-8" type="text/javascript"></script>
  <!-- load board js -->
  <script src='/static/js/init_socket.js' charset="UTF-8" type="text/javascript"></script>

</head>

<body>
  <div class="row">
    <div class="col s12">
      <div class="main-display ">
        <!-- main carousel -->
        <div id="slideshow" class="carousel carousel-slider moments">
        </div>
        <!-- vote and flag buttons -->
      </div>
     </div>
   </div>
</body>

</html>
