<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>FutureBoard</title>
</head>
<body>
<h2 id="api">Supported Views</h2>

<h3 id="api-1">/views/</h3>
<table>
  <thead>
    <tr class="header">
      <th align="left">View Type</th>
      <th align="left">URL</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td align="left">Board</td>
      <td align="left"><a href="/views/board">/views/board</a></td>
    </tr>
    <tr class="odd">
      <td align="left">Stream</td>
      <td align="left"><a href="views/stream">/views/stream</a></td>
    </tr>
    <tr class="even">
      <td align="left">Events</td>
      <td align="left"><a href="views/events">/views/events</a></td>
    </tr>
  </tbody>
</table>
</body>
</html>
